#sudo adduser impersonator_user # pwd 65ZAGYhi39
#sudo chown -R impersonator_user /home/Impersonator/
#sudo chmod -R 755 /home/Impersonator/
#sudo nano /etc/systemd/system/impersonator_bot.service

[Unit]
Description=Impersonator GPT Bot
After=multi-user.target

[Service]
Type=simple
User=impersonator_user
WorkingDirectory=/home/Impersonator/
Environment="PATH=/home/Impersonator/venv/bin/"

#ExecStart=/home/Impersonator/venv/bin/python /path/to/your/script.py
ExecStart=/bin/bash -c "/home/Impersonator/venv/bin/python impersonator.py"
Restart=always

[Install]
WantedBy=multi-user.target



#sudo systemctl daemon-reload
#sudo systemctl restart impersonator_bot.service
#sudo systemctl status impersonator_bot.service
#sudo journalctl -u impersonator_bot.service